<%- include('partiarls/headAndHeader.ejs') %>

<div class="container">

    <div class="gallery-container w-3 h-2">
      <div class="gallery-item">
        <div class="image">
          <img src="https://images.unsplash.com/photo-1504609813442-a8924e83f76e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="nature">
        </div>
       
      </div>
    </div>
  
    <div class="gallery-container w-3 h-3">
      <div class="gallery-item">
        <div class="image">
          <img src="https://images.unsplash.com/photo-1566902249079-c97d67671278?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2072&q=80" alt="people">
        </div>
    
      </div>
    </div>
  
    <div class="gallery-container h-2">
      <div class="gallery-item">
        <div class="image">
          <img src="https://images.unsplash.com/photo-1511804630215-682f94fde271?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=499&q=80" alt="sport">
        </div>
 
      </div>
    </div>
  
    <div class="gallery-container w-2">
      <div class="gallery-item">
        <div class="image">
          <img src="https://images.pexels.com/photos/4518190/pexels-photo-4518190.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="fitness">
        </div>

      </div>
    </div>
  
    <div class="gallery-container w-4 h-1">
      <div class="gallery-item">
        <div class="image">
          <img src="https://images.unsplash.com/photo-1591162689269-a3fcdab967e3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1931&q=80" alt="food">
        </div>
      </div>
    </div>
  
    <div class="gallery-container">
      <div class="gallery-item">
        <div class="image">
          <img src="https://images.pexels.com/photos/6968918/pexels-photo-6968918.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="travel">
        </div>

      </div>
    </div>
  
    <div class="gallery-container h-2">
      <div class="gallery-item">
        <div class="image">
          <img src="https://images.unsplash.com/photo-1593769665146-1116a2bdfbab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="art">
        </div>

      </div>
    </div>
  
    <div class="gallery-container">
      <div class="gallery-item">
        <div class="image">
          <img src="https://images.unsplash.com/photo-1575139657555-8cbddab487d4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=647&q=80" alt="cars">
        </div>

      </div>
    </div>
  
  
  </div>


<%- include('partiarls/footer.ejs') %>