<%- include('partiarls/headAndHeader.ejs') %>
    <main>
        <div class="foto1"></div>  
        <div class="descripcion">
            <h2>Promoviendo salud a través de la Danza</h2>
            <p>MOVE, se constituye como un espacio de formación y practica de ritmos Afro Caribeños (Bachata, Cha cha, Salsa, Pachanga, etc ), Jazz, Contemporaneo, Iniciacion a la Danza, Street Jazz, Hip Hop y técnicas paliativas como Preparación Física, Clases de Zumba, Stretching y otras disciplinas afines a la Danza.
            Desde la infancia hasta la adultez, se ofrecen clases para toda la familia; con cursos de perfeccionamiento y especialización.</p>
        </div> 
    </main>
    <%- include('partiarls/footer.ejs') %>
    