<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;600;900&display=swap" rel="stylesheet">
 <title>MOVE - <%= title %></title>
</head>
<body>
    <header>
        <div class="logo"></div>
        <nav>
            <a class="<%= title.includes('Inicio') ? 'active' : null %>" href="/">Nosotros</a>
            <a class="<%= title.includes('Clases') ? 'active' : null %>" href="/clases">Clases</a>
            <a class="<%= title.includes('Galería') ? 'active' : null %>" href="/galeria">Galería</a>
            <a href="/admin">Panel</a>
        </nav>
    </header>